:root {
  --border: 3px solid black;
}

button {
  background: none;
  border: 0;
  font-size: xx-large;
  width: 100px;
  height: 100px;
}

.cell__top {
  border-left: var(--border);
  border-right: var(--border);
}

.cell__left {
  border-top: var(--border);
  border-bottom: var(--border);
}

.cell__center {
  border: var(--border);
}

.cell__right {
  border-top: var(--border);
  border-bottom: var(--border);
}

.cell__bottom {
  border-left: var(--border);
  border-right: var(--border);
}
