<table>
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        {{ header.value }}
        <button
          class="header__button"
          [ngClass]="{ 'header__button--down': !header.sortedUp }"
          (click)="sortTableBy(header)"
        >
          ⬆️
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableData">
      <td>{{ row.name }}</td>
      <td>{{ row.gender }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phone }}</td>
      <td>{{ row.location }}</td>
    </tr>
  </tbody>
</table>
