th {
  background-color: bisque;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

table {
  border: 1px solid black;
}

.header__button {
  background-color: transparent;
  border: 0;
}

.header__button--down {
  transform: rotate(180deg);
}
